.date-range-picker {
  align-items: center;
  }

  .date-range-picker div {
    flex-direction: column;
    color: white;
  }

  .date-range-picker input {
    margin-right: 10px;
    padding: 10px;
  }

  .date-range-picker button{
    margin: 0;
  }

  .named-ranges h5{
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin: 20px 0;
}

.date-range-picker, .date-range-picker div {
  display: flex;
}

  .loading-indicator, .error-message {
    color: #ffffff;
  }
