.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: relative;
}

.calendar {
  padding: 20px;
  border: 2px solid gray;
  cursor: pointer;
}

.dateRange {
  position: absolute;
  top: 120px;
}

.react-calendar__navigation button {
  background-color: aliceblue;
}

.calendars {
  display: flex;
  justify-content: space-between;
}

.date-range-picker {
  text-align: center;
}

.date-range-input {
  background: white;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
}

.error-message , .loading-indicator {
  color: red;
}

.picker-wrapper {
  /* Your default styles */
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s, transform 0.3s;
}

.picker-wrapper.show {
  opacity: 1;
  transform: translateY(0);
}